elpa/
*~
*.data
.erc-auth.el
eshell/
transient/
.lsp-session-v1
bookmarks
recentf
projectile-bookmarks.eld
session.*
games/
semanticdb/
.cache/
cnfonts/cnfonts.conf
.mc-lists.el
url/
SessionDesktop.el
smex-items

diary
lisp/abel-utils.el
test.ses
tex-notes/

rust-playground/
flycheck_*.el
